.list-wrapper {
  min-height: 500px;
  .product-list {
    margin-top: 60px;

    .list-header {
      font-weight: 600;
      text-align: center;
      font-size: 28px;
    }
    .product-detail {
      text-align: center;
    }
  }
}
