@import "../../styles/variables.scss";

.product-details-wrapper {
  .product-details {
    display: flex;
    margin-top: 30px;
    min-height: 500px;

    height: 80%;
    align-items: center;
    justify-content: space-around;
    .header-area {
      background: black;
    }

    .carousel-wrapper {
      height: 250px;
      width: 350px;
      img {
        object-fit: contain !important;
      }
    }
    .product-info {
      width: 40%;
      header {
        font-weight: 500;
        font-size: $sub-header-font;
        margin-bottom: 10px;
      }
      .price {
        font-weight: 600;
        font-size: $small-font;
        margin-bottom: 10px;
      }
      .description {
        font-size: $very-small-font;
        margin-bottom: 15px;
        opacity: 0.7;
      }
      .size {
        font-weight: 600;
        font-size: $small-font;
        margin-bottom: 10px;
      }
      .size-list {
        font-size: $very-small-font;
        margin-bottom: 15px;
      }
      .quantity {
        font-weight: 600;
        font-size: $small-font;
        margin-bottom: 10px;
      }
      .cart {
        background: black;
        color: white;
        width: 150px;
        text-align: center;
        border-radius: 4px;
        font-size: $very-small-font;
        margin-bottom: 10px;
        padding: 10px;

        display: flex;
        align-items: center;
        justify-content: center;
        img {
          margin-right: 10px;
        }

        cursor: pointer;
      }
    }
  }
}
