@import "../../styles/variables.scss";

.address {
  width: 350px;
  margin-bottom: 25px;
  background-color: #f4f4f4;
  border-radius: 6px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px 20px 20px 40px;
  line-height: 1.6;
  border: 1px solid transparent;
  position: relative;
  overflow: auto;
  strong {
    font-size: $medium-font;
  }
  div {
    font-size: $very-small-font;
  }
  .selectable {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid;
    position: absolute;

    top: 8px;
    left: 12px;
    &.selected {
      background-color: black;
    }
  }
  &:hover {
    cursor: pointer;
    border-color: black;
  }
}
