.payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .deliver-to-container {
    min-height: 30% !important;
  }

  margin-bottom: 30px;
  height: 100%;
}
