@import "../../styles/variables.scss";

.past-orders {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  justify-content: flex-start;
  margin-top: 60px;
  padding: 0 100px;
  .title {
    margin: 20px;
    font-size: $medium-font;
    font-weight: 600;
  }
}
