@import "../../styles/variables.scss";

.header-area {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  transition: background-color 0.3s;
  &.scrolled {
    background-color: rgb(0, 0, 0);
  }
}
.home-header {
  display: flex;
  height: 50px;
  align-items: center;
  font-size: $medium-font;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  strong {
    margin-left: 30px;
  }
  .search-area {
    height: 70%;
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 50%;
    input {
      width: 100%;
      height: 100%;
      border-radius: 4px;
      border: unset;
    }
  }
  .user-area {
    width: 30%;
    margin-left: auto;
    display: flex;
    .login-signup {
      font-size: $small-font;
      cursor: pointer;
    }
    .person {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: 20px;
    }
    .cart {
      margin-right: 25px;
    }
  }
}
