@import "../../styles/variables.scss";

.pager {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: $small-font;
  margin: 50px 0;
  .previous,
  .next {
    cursor: pointer;
    .symbol {
      margin-left: 5px;
      margin-right: 5px;
    }
    &.disabled {
      opacity: 0.4;
    }
  }

  .pagination-content {
    display: flex;
    justify-content: space-around;
    .page-no {
      border-radius: 2px;
      border: solid 1px #707070;
      width: 35px;
      height: 35px;
      display: flex;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      color: #707070;
      transition: background-color 0.2s ease-in-out;
      margin-right: 10px;
      &.selected {
        background-color: #707070;
        color: #ffffff;
      }
    }
  }
}
